/lib
/dist
/docs
/workdocs/coverage
/workdocs/drawings/*
!/workdocs/drawings/*.drawio
/workdocs/resources/*
!/workdocs/resources/junit/.gitlock
!/workdocs/resources/html/.gitlock
/workdocs/uml/*
!/workdocs/uml/*.puml
/.idea
/.token
/.npmtoken
/.dockertoken
/.confluence-token
/node_modules
/temp